<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>ReporteSeccionServlet</servlet-name>
        <servlet-class>pe.edu.pucp.softpub.servlet.ReporteSeccionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReporteEspecialidadServlet</servlet-name>
        <servlet-class>pe.edu.pucp.softpub.servlet.ReporteEspecialidadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReporteSeccionServlet</servlet-name>
        <url-pattern>/ReporteSeccionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReporteEspecialidadServlet</servlet-name>
        <url-pattern>/ReporteEspecialidadServlet</url-pattern>
    </servlet-mapping>
</web-app>
